In [2]:
from nltk.tokenize import word_tokenize
import concepts_keywords as nounphrase
import math

In [3]:
text = "0 to 10 years in python"

In [4]:
def readText(text):
    # Parse the input
    result = text.split("\n")
    sentences = [each for each in result if len(each)>1]
    return sentences

def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

def augumentQuery(text , stringToken):
    
    years_token = ['yrs', 'yr', 'years', 'year']
    month_token = ['mnts', 'mnt', 'months', 'month']
    augumentSentence = text
    tag = "none"
    for each in years_token:
        if each in stringToken:
            augumentSentence = text.replace(each, 'years')
            tag = "years"
            #return augumentSentence, tag 
    for each in month_token:
        if each in stringToken:
            augumentSentence = text.replace(each, 'months')
            tag = "months"
            #return augumentSentence, tag 
    return augumentSentence, tag

def experience_years(text):
    """
    Parameters
    ----------
    text : Input Description of JD (Primary Skill)
    Returns
    -------
    exp : Integer
        Convert months into years
    """
    text = text.lower().strip()
    tokens = word_tokenize(text)
    
    # Check if Experience in in Months or Years
    
    augumentSentence, tag = augumentQuery(text , tokens)
    del text
    text = augumentSentence
   
    # Create a Dataframe
    dicta = nounphrase.FindPos(text)
    DF = nounphrase.Trans_to_dataframe(dicta)
    
    """ extract prefix as number and Suffix as Month/Year"""
    ex = [(lemma,nxt) for ent,pos,lemma,nxt in zip(DF['Ent'], DF['Pos'],DF['Lemma'], DF["Head_Text"]) if (ent == 'DATE') & (pos == 'NUM')]
    #print("EX1:::::",ex)
    # lemma is year of experience
    # nxt is the tag 
    exp_list = [] ## Hold list of experience
    """ If string has experience mentioned in years"""
    if len(ex) > 0:
        #print("EX2:::::",ex)
        # Iterate the List of Experience

        # if length of list with tuple is > 1
        # Then Range is specified in experience EX--- 0 to 5 years
        if len(ex) > 1:
            #print(text, "Date is in range")
            ## check if range is in Months or Years using "tag" field 
            ## check the correct Tuple to find the range (tuple with both values as digit)
            ## Range will generate two tuple, we need to select Tuple with digits
            for each in ex:
                # Both values of tuple are NON String
                if (is_number(each[0])) &  (is_number(each[1])):
                    # Define the list to hold minimum value
                    minimumListValue = list()
                    # Convert String into Float
                    T1, T2 = float(each[0]), float(each[1])
                    # Check if Experience is in Months :::
                    if tag == 'months':
                        ## Convert Months into years
                        MT1, MT2 = math.ceil(T1/12), math.ceil(T2/12)
                        #YT2 = math.ceil(T2/12)
                        #print("Month Converted Values", MT1, MT2)
                        # Minimum Value
                        minval = min(MT1, MT2)
                        #print("minval", minval)
                        return minval
                        # Append to the Experience
                        #exp_list.append(int(minval))
                    # If Experience not in Months, i.e in Years
                    else:
                        #print("Exp in Years")
                        minval = min(T1, T2)
                        return minval
                        #exp_list.append(int(minval))
        else:
            #print(text, "Date is in singular format")
            # Check the type of Date
            for each in ex:
                T1 = float(each[0])
                # Check if Experience is in Months :::
                if tag == 'months':
                    ## Convert Months into years
                    MT1 = math.ceil(T1/12)
                    return MT1
                else:
                    return T1
    else:
        return -1

In [5]:
""" Find Minimum Experience """
def minimumExperience(minEx):
    
    minimum_experience = list(set(minEx))
    minimumEx = 0
    
    for each in minimum_experience[:]:
        if each == 0:
            minimum_experience.remove(each)
        
    #minimum_experience  = [minimum_experience.remove(each) for each in minimum_experience[:] if each == 0]
    # List generation does not work
    
    if len(minimum_experience) >= 1:
        minimumEx = min(minimum_experience)
       
    else:
        minimumEx = 0
       
          
    return minimumEx

In [6]:
text = "2 yrs in python \n\n 1.5 years in java \n\n 0 to 10 Years in Python \n\n 2 to 10 years in java \n 0 to 6 months in agile \n\n 6 to 9 months in Agile"

In [7]:
sentences = readText(text)
sentences

['2 yrs in python ',
 ' 1.5 years in java ',
 ' 0 to 10 Years in Python ',
 ' 2 to 10 years in java ',
 ' 0 to 6 months in agile ',
 ' 6 to 9 months in Agile']

In [8]:
minumum_experience = []
for sentence in sentences:
    
    ex = experience_years(sentence)
    minumum_experience.append(ex)
minumum_experience

[2.0, 1.5, 0.0, 2.0, 0, 1]

In [9]:
minEx = minumum_experience
minimumExperience(minEx)

1